.DS_Store

/download
/eclipseBin

# gradle
/.gradle
/build

# ForgeGradle
/run

# eclipse
/eclipse
/.settings
/.metdata
/.classpath
/.project
/bin

# intellij
/out
/classes
/.idea
/*.iml
/*.ipr
/*.iws
